[build]
command = "npm run build"
publish = ".next/standalone"

[functions]
directory = ".netlify/functions"
node_bundler = "esbuild"

[[redirects]]
from = "/*"
to = "/.netlify/functions/______ssr:path"
conditions = { role = ["Not-a-web-server"] }
